.vs/
obj/
bin/
build/
NKHook6-API/.idea/.idea.NKHook6-API/.idea/modules.xml
NKHook6-API/.idea/.idea.NKHook6-API/.idea/codeStyles/codeStyleConfig.xml
NKHook6-API/.idea/.idea.NKHook6-API/.idea/codeStyles/codeStyleConfig.xml
NKHook6-API/.idea/.idea.NKHook6-API/.idea/contentModel.xml
NKHook6-API/.idea/.idea.NKHook6-API/.idea/discord.xml
NKHook6-API/.idea/.idea.NKHook6-API/.idea/codeStyles/codeStyleConfig.xml
NKHook6-API/.idea/.idea.NKHook6-API/.idea/contentModel.xml
NKHook6-API/.idea/.idea.NKHook6-API/.idea/discord.xml
NKHook6-API/.idea/.idea.NKHook6-API/.idea/encodings.xml
NKHook6-API/.idea/.idea.NKHook6-API/.idea/indexLayout.xml
NKHook6-API/.idea/.idea.NKHook6-API/.idea/modules.xml
NKHook6-API/.idea/.idea.NKHook6-API/.idea/projectSettingsUpdater.xml
NKHook6-API/.idea/.idea.NKHook6-API/.idea/vcs.xml
NKHook6-API/.idea/.idea.NKHook6-API/.idea/workspace.xml
NKHook6-API/.idea/.idea.NKHook6-API/riderModule.iml
NKHook6-API/NKHook6-API.sln.DotSettings.user
NKHook6-API/.idea/.idea.NKHook6-API/.idea/workspace.xml
NKHook6-API/.idea/.idea.NKHook6-API/.idea/workspace.xml
